.aside {
  display: none;
  flex-direction: column;
  margin: 0 2.5%;
  padding: 0 2.5%;
}

.my-profil {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1.5rem 0;
}

.my-profil img {
  width: 3rem;
  border-radius: 50%;
}

.my-profil-name {
  flex: 1;
  font-size: 0.85rem;
  color: var(--text-light);
}

.my-profil-name div:nth-child(1) {
  color: var(--text-dark);
  font-weight: 600;
}

.my-profil a {
  font-size: 0.85rem;
  text-decoration-line: none;
  color: rgb(0, 170, 255);
  font-weight: 600;
}

.other-profil-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--text-dark);
}

.other-profil-title div:nth-child(1) {
  color: var(--text-light);
}

.other-users {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px 0 20px 10px;
}

.other-user {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.other-user img {
  width: 2rem;
  height: 2rem;
}

.other-user a {
  font-size: 0.85rem;
  text-decoration-line: none;
  color: rgb(0, 170, 255);
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

.other-profil-name {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
  font-size: 0.85rem;
  color: var(--text-dark);
  font-weight: 600;
  overflow: hidden;
}

.long-name {
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--text-light);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.side-footer {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--text-light);
}

@media (min-width: 999px) {
  .aside {
    display: flex;
  }
}
